<form action="/events" method="POST">
<h2>New Event</h2><br>
  <label>Please Enter Event Information:</label>
<input type="text" name="title"></input><br>
<input type="text" name="date"></input><br>
<input type="integer" name="volunteers_needed"></input><br>
<input type="text" name="description"></input><br>

<br></br>
<br></br>
  <button id="submit" type="submit" >Submit</button>
</form>
</body>
</html>
